/* section slider */

.content {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 100%;
}

.content__heading {
    font-size: 24px;
    font-family: "Myriad Pro";
    color: rgb(138, 136, 136);
    line-height: 0.917;
    text-transform: uppercase;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.content__paragraph {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(138, 136, 136);
    line-height: 1.571;
    text-align: center;
    padding-bottom: 50px;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
  transform: scale(0.9);
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-center img {
transform: scale(1.1);
}

.content-result {
    padding-top: 90px;
}

.content-result--heading {
    font-size: 18px;
    font-family: "Myriad Pro";
    color: rgb(138, 136, 136);
    text-align: center;
    padding-bottom: 13px;
}

.content-result--paragraph {
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(138, 136, 136);
    line-height: 1.571;
    text-align: center;
}


  
  