.footer{
    background-color: rgb(50, 47, 47);
    width: 100%;
    margin: 0 auto;
    padding-top: 49px;
    padding-bottom: 51px;
}

.footerTwo{
    background-color: rgb(239, 239, 239);
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 25px;
}
  

.container__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__heading {
    font-size: 24px;
    font-family: "Myriad Pro";
    color: rgb(239, 239, 239);
    line-height: 0.917;
    letter-spacing: 1px;
}
 
.footerTwo__heading {
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(165, 165, 165);
    text-transform: uppercase;
    line-height: 1.5;
}

.footer__btn {
    padding-top: 3px;
    font-size: 14px;
    font-family: "Myriad Pro";
    color: rgb(255, 255, 255);
    background-color: rgb(46, 204, 113);
    width: 220px;
    height: 40px;
    border: 1px solid #ffffff;
    cursor: pointer;
    font-weight: bold;
    border: none;
    letter-spacing: 1px;
}

.footerTwo__links--link {
    font-size: 12px;
    font-family: "Myriad Pro";
    color: rgb(165, 165, 165);
    text-transform: uppercase;
    line-height: 1.5;
}
  
  